*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif !important; 
   
    
}

.bgdiv{
    background:  linear-gradient(#6559EB,#6559ebf6 ), url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 947px;
    width: 100%;
}

h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
}

h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #fff;
}

.time{
    color: #fff;
}

.maincontent{
    padding-top: 370px;
}

